@charset "utf-8";
/* CSS Document */

/* ************************************************************************************************************************

Homeopatía Mercy

File:			app.scss
Author:			Amapolazul
Homepage:		www.amapolazul.com
Copyright:		2018

************************************************************************************************************************ */

/* ---------- Variables ---------- */

$primary_color: #5d5d5d;
$secondary_color: #4f9e1b;
$tertiary_color: #0fb2aa;
$background: #f2f2f2;
$border: #5d5d5d;

/* ---------- General ---------- */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
	margin: 0;
	padding: 0;
}

body {
	font: {
		family: 'Open Sans', sans-serif;
		size: 14px;
	}
	color: $primary_color;
	&.home {
		/*background: {
			image: url(bg.png);
			position: center 40px;
			repeat: no-repeat;
		}*/
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Open Sans', sans-serif;
}

a {
	color: $secondary_color;
	&:hover {
		color: $secondary_color;
	}
}

/* ---------- Template ---------- */

/* General */

.button.xoo-wsc-cont.btn {
	background-color: $tertiary_color;
}

/* Top */

.top {
	padding: 10px 0;
	background-color: $background;
	.moduletable_to1 {
		a {
			color: $primary_color;
		}
	}
	.moduletable_to2 {
		a {
			margin: 0 5px;
			font-size: 16px;
			color: $primary_color;
			display: inline-block;
		}
	}
	.moduletable_to3 {
		padding: 0 10px;
		.woocommerce-product-search {
			input[type=search] {
				width: 70%;
				height: inherit;
				margin: 0;
				padding: 5px;
				border-radius: 0;
				font-size: 12px;
				float: left;
				position: relative;
			}
			[type=submit] {
				width: 30%;
				padding: 8px;
				background-color: $secondary_color;
				border-radius: 0;
				color: #fff;
				float: left;
				position: relative;
			}
		}
	}
}

/* Logo */

.logo {
	padding: 10px 0;
	background-color: rgba(255, 255, 255, 0.8);
	.moduletable_lo1 {}
}

/* Menu */

.menu_wrap {
	padding: 15px 0;
	background-color: $background;
	&.home {
		background-color: #fff;
	}
	.moduletable_me1 {
		.top-bar {
			padding: 0;
			background-color: transparent;
			.top-bar-title {
				margin: 0;
			}
			#responsive-menu {
				width: 100%;
				ul.menu {
					background-color: transparent;
					li {
						padding: 0 4px;
						&.current-menu-parent,
						&.current-menu-item,
						&.current_page_parent {
							a {
								color: $secondary_color;
							}
						}
						a {
							padding: 0 10px;
							font-size: 16px;
							color: $primary_color;
							&:hover {
								color: $secondary_color;
							}
						}
					}
				}
			}
		}
	}
}

/* Banner */

.banner {
	.moduletable_ba1 {}
}

/* Content */

.content {
	padding: 20px 0;
	h1 {
		margin-bottom: 20px;
		padding: 15px 20px !important;
		background: {
			image: url(h1_bg.png);
			position: left;
			repeat: no-repeat;
		}
		font-size: 18px;
		color: #fff;
		text-transform: uppercase;
		&.title_center {
			background: {
				image: url(h1_title_center_bg.png);
				position: center;
				repeat: no-repeat;
			}
		}
	}
	h2 {
		margin-bottom: 20px;
		font-size: 18px;
		color: $secondary_color;
		text-transform: uppercase;
	}
	.asterisk {
		color: red;
	}
	a.add-request-quote-button,
	input {
		&.button {
			background-color: $tertiary_color;
			border-radius: 0;
			color: #fff;
		}
	}
	.iframe {
		iframe {
			border: 0;
		}
	}
	.home {
		width: 340px;
		height: 260px;
		margin: auto;
		/*margin-top: 180px;*/
		padding: 50px 80px 0 70px;
		background: {
			image: url(content_home_bg.png);
			position: center;
			repeat: no-repeat;
		}
		position: relative;
		z-index: 2;
		p {
			&.text {
				margin-bottom: 45px;
			}
		}
		span {
			&.green_title {
				color: $secondary_color;
			}
		}
		a {
			&.button {
				background-color: $secondary_color;
			}
		}
	}
	.green {
		padding: 10px;
		background-color: $tertiary_color;
		color: #fff;
		text-align: center;
		h3 {
			margin: auto;
			margin-bottom: 10px;
			border-bottom: 1px solid #fff;
			font-size: 14px;
			text-transform: uppercase;
		}
	}
	.box {
		padding: 20px;
		border: 1px solid $primary_color;
		h3 {
			margin-bottom: 0;
			padding: 5px 10px;
			background-color: $tertiary_color;
			font-size: 18px;
			color: #fff;
		}
		.image {
			margin-bottom: 10px;
		}
		.item {
			margin-bottom: 10px;
			padding: 5px;
			background-color: $background;
			input {
				height: inherit;
				margin-bottom: 0;
				padding: 0;
				background-color: $background;
				border-radius: 0;
				font-size: 14px;
			}
			.asterisk {
				color: red;
			}
		}
		.button {
			margin-bottom: 0;
			padding: 5px 15px;
			background-color: $tertiary_color;
			border-radius: 0;
			text-transform: uppercase;
		}
	}
	.moduletable_le1 {
		.bellows {
			margin: 0;
			background-color: transparent !important;
			box-shadow: none;
			ul {
				border: 1px solid $border;
				li {
					&#menu-item-249 {
						a {
							background: url(menu_max_dream.png);
						}
					}
					&#menu-item-253 {
						a {
							background: url(menu_influmax.png);
						}
					}
					&#menu-item-254 {
						a {
							background: url(menu_ovulos.png);
						}
					}
					&#menu-item-255 {
						a {
							background: url(menu_colirio.png);
						}
					}
					&#menu-item-256 {
						a {
							background: url(menu_esencias_florales.png);
						}
					}
					&#menu-item-261 {
						a {
							background: url(menu_especialidades.png);
						}
					}
					&#menu-item-268 {
						a {
							background: url(menu_jarabes.png);
						}
					}
					&#menu-item-269 {
						a {
							background: url(menu_linea_veterinaria.png);
						}
					}
					&#menu-item-270 {
						a {
							background: url(menu_oligoelementos.png);
						}
					}
					&#menu-item-271 {
						a {
							background: url(menu_trituraciones.png);
						}
					}
					&#menu-item-272 {
						a {
							background: url(menu_unguentos.png);
						}
					}
					&#menu-item-273 {
						a {
							background: url(menu_vademecum.png);
						}
					}
					&#menu-item-274 {
						a {
							background: url(menu_vinos.png);
						}
					}
					a {
						margin: 0;
						padding: 10px 10px 10px 50px;
						background: {
							position: 5px !important;
							repeat: no-repeat !important;
						}
						color: $primary_color !important;
						&:hover {
							color: $tertiary_color !important;
						}
						span.bellows-subtoggle {
							width: 50px;
							background: transparent !important;
						}
					}
					ul {
						border: 0;
					}
				}
			}
		}
	}
	.woocommerce {
		ul.products {
			li {
				margin-bottom: 10px;
				a.woocommerce-LoopProduct-link {
					border: 1px solid #ccc;
					display: block;
					img {
						margin: 0;
						padding: 10px;
						border-bottom: 1px solid #ccc;
					}
					h2 {
						padding: 10px !important;
						color: $primary_color;
						text: {
							align: center;
							transform: uppercase;
						}
					}
				}
				a.product_type_simple {
					margin: 0;
					background: transparent;
					border: 1px solid #ccc;
					border-top: 0;
					border-radius: 0;
					color: $primary_color;
					display: block;
				}
			}
		}
		.product {
			p.price {
				color: $primary_color;
			}
		}
		a,
		button {
			&.button {
				background-color: $secondary_color;
				border-radius: 0;
				color: #fff;
			}
		}
	}
	&.home {
		/*margin-top: -340px;*/
	}
	&.full-width {
		.max {
			max-width: 1000px;
			margin: auto;
		}
	}
}

/* Block 1 */

.block_1 {
	margin-top: -150px;
	padding: 170px 0 24px;
	background-color: rgba(255, 255, 255, 0.8);
	.moduletable_b11 {
		h3 {
			margin-bottom: 0;
			font: {
				size: 24px;
				weight: bold;
			}
			color: $secondary_color;
		}
		p {
			&.title {
				font: {
					size: 18px;
					weight: bold;
				}
				color: $secondary_color;
			}
			&.text {
				margin-bottom: 0;
				font-size: 12px;
			}
		}
	}
}

/* Block 2 */

.block_2 {
	padding: 20px 0;
	.moduletable_b21 {
		p {
			&.title {
				font: {
					size: 18px;
					weight: bold;
				}
				color: $tertiary_color;
				a {
					color: $tertiary_color;
				}
			}
		}
	}
}

/* Block 3 */

.block_3 {
	padding: 20px 0;
	.moduletable_b31 {
		.box {
			padding: 20px;
			border: 1px solid $primary_color;
			h3 {
				margin-bottom: 0;
				padding: 5px 10px;
				background-color: $tertiary_color;
				font-size: 18px;
				color: #fff;
			}
			.image {
				margin-bottom: 10px;
			}
			.item {
				margin-bottom: 10px;
				padding: 5px;
				background-color: $background;
				input {
					height: inherit;
					margin-bottom: 0;
					padding: 0;
					background-color: $background;
					border-radius: 0;
					font-size: 14px;
				}
				.asterisk {
					color: red;
				}
			}
			.button {
				margin-bottom: 0;
				padding: 5px 15px;
				background-color: $tertiary_color;
				border-radius: 0;
				text-transform: uppercase;
			}
		}
	}
}

/* Block 4 */

.block_4 {
	padding: 20px 0;
	background-color: $background;
	.moduletable_b41 {
		h3 {
			margin-bottom: 0;
			font: {
				size: 24px;
				weight: bold;
			}
		}
		.owl-item {
			figure {
				a {
					img {
						border: 2px solid $secondary_color;
						border-radius: 50%;
					}
				}
				.wpb_cart_button {
					a.button {
						background-color: $tertiary_color;
					}
				}
			}
		}
	}
}

/* Bottom */

.bottom {
	padding: 30px 0;
	.moduletable_bo1 {
		font-size: 13px;
		a {
			color: $primary_color;
		}
		#a {}
		#b {
			.panel-widget-style {
				padding: 0 15px;
				border: {
					top: 0;
					bottom: 0;
				}
			}
		}
		#c {}
	}
}

/* Copyright */

.copyright {
	padding: 10px;
	background-color: $tertiary_color;
	color: #fff;
	a {
		color: #fff;
	}
}

/* ---------- Media Queries ---------- */

/* Small only (639px) */

@media screen and (max-width: 39.9375em) {

	/* Top */

	.top {
		.moduletable_to1 {
			text-align: center !important;
		}
		.moduletable_to2 {
			text-align: center !important;
		}
	}

	/* Content */

	.content {
		.home {
			width: inherit;
			margin-top: inherit;
			p {
				&.text {
					font-size: smaller;
				}
			}
		}
		&.home {
			margin-top: inherit;
		}
	}

}

/* Medium and up (640px) */

@media screen and (min-width: 40em) {}

/* Medium only (640px and 1023px) */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up (1024px) */

@media screen and (min-width: 64em) {}

/* Large only (1024px and 1199px) */

@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

/* ---------- Others ---------- */

.clear {
	clear: both;
}